<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order | CumIn</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mainStore.css">
    <link rel="stylesheet" href="/css/final.css">
    <script src="/js/barMenu.js"></script>
    <script src="/js/searchBar.js"></script>

    <script src="/js/barMenu.js"></script>
</head>


<body>
    <header>
        <nav>
            <div class="container left">
                <ul>
                    <li><a id="menubottom" href="/">
                            Home
                        </a></li>
                    <li><a id="menubottom" href="/store">
                            Store
                        </a></li>

                    <li>
                        <div class="icondesplegable" id="desple">
                            <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19.34px"
                                height="10.65px" viewBox="0 0 19.34 10.65"
                                style="enable-background:new 0 0 19.34 10.65;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        opacity: 0.8;
                                    }

                                    .st1 {
                                        fill: #EFACA0;
                                    }
                                </style>
                                <defs>
                                </defs>
                                <g class="st0">
                                    <g>
                                        <path id="Chevron_Right_1_" class="st1" d="M10.36,10.37l8.7-8.7c0.38-0.38,0.38-1,0-1.38c-0.38-0.38-1-0.38-1.38,0L9.67,8.29
			L1.67,0.29c-0.38-0.38-1-0.38-1.38,0c-0.38,0.38-0.38,1,0,1.38l8.7,8.7C9.36,10.74,9.99,10.74,10.36,10.37z" />
                                    </g>
                                </g>
                            </svg>


                        </div>

                        <!-- Menu desplegable -->


                        <ul class="mostrarMenu" id="desplegable">


                            <li> <a id="item" href="/store/type=Vibrators">Vibrators</a></li>
                            <li> <a id="item" href="/store/type=Dildos">Dildos</a></li>
                            <li> <a id="item" href="/store/type=Anal">Anal</a></li>
                            <li> <a id="item" href="/store/type=Lubricants">Lubricants</a></li>



                        </ul>

                        <!-- Fin del Menu desplegable -->

                    </li>
                </ul>
            </div>
            <!-- ícono del centro -->
            <div class="container center">
                <h1>Cum’</h1>
                <div class="logoAbajo">
                    <h1><strong>IN</strong></h1>
                </div>
            </div>
            <!-- ícono del centro -->
            <div class="container right">
                <ul>
                    <li><a class="carrito_link" href="/check">
                            <div class="icon">
                                <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
                                <svg version="1.1" x="0px" y="0px" viewBox="0 0 30.03 27.49"
                                    style="enable-background:new 0 0 30.03 27.49;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <g>
                                                    <path class="st0" d="M23.78,20c-2.07,0-3.75,1.68-3.75,3.75s1.68,3.75,3.75,3.75s3.75-1.68,3.75-3.75S25.85,20,23.78,20z
                                                    M23.78,25.24c-0.83,0-1.5-0.67-1.5-1.5c0-0.83,0.67-1.5,1.5-1.5c0.83,0,1.5,0.67,1.5,1.5C25.28,24.57,24.61,25.24,23.78,25.24z
                                                    " />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st0"
                                                        d="M29.8,5.52c-0.21-0.27-0.54-0.43-0.88-0.43H6.94L5.92,0.86C5.8,0.36,5.35,0,4.83,0H1.12C0.5,0,0,0.5,0,1.12
                                                    s0.5,1.12,1.12,1.12h2.82L7.6,17.53c0.12,0.51,0.57,0.86,1.09,0.86h17.49c0.52,0,0.97-0.35,1.09-0.85L30,6.49
                                                    C30.08,6.15,30.01,5.8,29.8,5.52z M25.3,16.14H9.58l-2.1-8.8h20L25.3,16.14z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st0"
                                                        d="M10.19,20c-2.07,0-3.75,1.68-3.75,3.75s1.68,3.75,3.75,3.75s3.75-1.68,3.75-3.75S12.25,20,10.19,20z
                                                    M10.19,25.24c-0.83,0-1.5-0.67-1.5-1.5c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C11.68,24.57,11.01,25.24,10.19,25.24z" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </div>

                            <div class="numeroProductos">
                                <p class="cantidad">0</p>
                            </div>

                        </a></li>
                    <li><a id="menubottom" href="">
                            Login
                        </a></li>
                    <li><a class="outstanding" href="">
                            Sign Up
                        </a></li>
                </ul>
            </div>
        </nav>
    </header>


    <script src="/js/addCar.js"></script>
</body>

<div class="contenedorPadre">

    <div class="fondo">

        <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="1919.85px" height="377.08px" viewBox="0 0 1919.85 377.08"
            style="enable-background:new 0 0 1919.85 377.08;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    opacity: 0.5;
                    fill: #F3C5BD;
                }
            </style>
            <defs>
            </defs>
            <path class="st0" d="M1919.85,12.83c-128.8-16.89-260.65-12.7-387.82,14.08c-85.59,18.03-168.95,46.41-247.69,84.61
	c-66.81,32.41-126.01,77.77-189.4,116.04c-67.5,40.75-138.69,64.45-217.17,73.07c-124.53,13.68-250.66-5.9-369.83-42.46
	C326.16,202.4,156.35,109.17,0,0v377.08h1919.85V12.83z" />
        </svg>



    </div>


    <div class="productos">

        <DIV class="titulos">
            <h1>PRODUCTOS</h1>
            <h1 class="numero"> #0</h1>
            <h1 class="dinero"> $</h1>
        </DIV>

        <div class="micarrito">

            


        </div>

        <button class="pene">
            Shop it
        </button>


    </div>


    <div class="adorno">
        <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="470.82px" height="470.82px" viewBox="0 0 470.82 470.82"
            style="enable-background:new 0 0 470.82 470.82;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    clip-path: url(#SVGID_2_);
                    fill: #F3C5BD;
                }

                .st1 {
                    clip-path: url(#SVGID_4_);
                    fill: #F3C5BD;
                }
            </style>
            <defs>
            </defs>
            <g>
                <defs>
                    <rect id="SVGID_1_" width="470.82" height="470.82" />
                </defs>
                <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_" style="overflow:visible;" />
                </clipPath>
                <path class="st0" d="M181.03,96.57c-73.18,13.9-90.5,110.41-28.12,151.12C252.87,312.93,155.69,414.83,0,412.9v57.92h161.66
		c69.05-66.88,153.16-176.31,120.04-290.76C261.14,109.01,219.27,89.31,181.03,96.57z" />
            </g>
        </svg>


    </div>




</div>



</html>