<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | CumIn</title>
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    
</head>

<body>
    <header>
        <nav>
            <div class="container left">
                <ul>
                    <li><a href="">
                            Home
                        </a></li>
                    <li><a href="">
                            Store
                        </a></li>
                </ul>
            </div>
            <div class="container right">
                <ul>
                    <li><a href="">
                            <div class="icon">
                                <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
                                <svg version="1.1" x="0px" y="0px" viewBox="0 0 30.03 27.49"
                                    style="enable-background:new 0 0 30.03 27.49;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <g>
                                                    <path class="st0" d="M23.78,20c-2.07,0-3.75,1.68-3.75,3.75s1.68,3.75,3.75,3.75s3.75-1.68,3.75-3.75S25.85,20,23.78,20z
                                                    M23.78,25.24c-0.83,0-1.5-0.67-1.5-1.5c0-0.83,0.67-1.5,1.5-1.5c0.83,0,1.5,0.67,1.5,1.5C25.28,24.57,24.61,25.24,23.78,25.24z
                                                    " />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st0"
                                                        d="M29.8,5.52c-0.21-0.27-0.54-0.43-0.88-0.43H6.94L5.92,0.86C5.8,0.36,5.35,0,4.83,0H1.12C0.5,0,0,0.5,0,1.12
                                                    s0.5,1.12,1.12,1.12h2.82L7.6,17.53c0.12,0.51,0.57,0.86,1.09,0.86h17.49c0.52,0,0.97-0.35,1.09-0.85L30,6.49
                                                    C30.08,6.15,30.01,5.8,29.8,5.52z M25.3,16.14H9.58l-2.1-8.8h20L25.3,16.14z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st0"
                                                        d="M10.19,20c-2.07,0-3.75,1.68-3.75,3.75s1.68,3.75,3.75,3.75s3.75-1.68,3.75-3.75S12.25,20,10.19,20z
                                                    M10.19,25.24c-0.83,0-1.5-0.67-1.5-1.5c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C11.68,24.57,11.01,25.24,10.19,25.24z" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </div>
                        </a></li>
                    <li><a href="">
                            Login
                        </a></li>
                    <li><a class="outstanding" href="">
                            Sign Up
                        </a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="slider">
        <div class="great">

            <div class="container left">
                <h1>Cum’<br /><strong>IN</strong></h1>
            </div>
            <div class="container center">
                    <p>Let your pleasures come out without limitations. Dare yourself to break yourself.</p>
                    <button>Go to Store</button>
                </div>
            <div class="container right"><img src="./imgs/banana.png" alt=""></div>
        </div>

    </div>
</body>

</html>