<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | CumIn</title>
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/barMenu.js"></script>

</head>

<body>
    <header>
        <nav>
            <div class="container left">
                <ul>
                    <li><a id="menubottom" href="/">
                            Home
                        </a></li>
                    <li><a id="menubottom" href="/store">
                            Store
                        </a></li>

                    <li>
                        <div class="iconDesplegable" id="desple">
                            <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19.34px"
                                height="10.65px" viewBox="0 0 19.34 10.65"
                                style="enable-background:new 0 0 19.34 10.65;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        opacity: 0.8;
                                    }

                                    .st1 {
                                        fill: #EFACA0;
                                    }
                                </style>
                                <defs>
                                </defs>
                                <g class="st0">
                                    <g>
                                        <path id="Chevron_Right_1_" class="st1" d="M10.36,10.37l8.7-8.7c0.38-0.38,0.38-1,0-1.38c-0.38-0.38-1-0.38-1.38,0L9.67,8.29
			L1.67,0.29c-0.38-0.38-1-0.38-1.38,0c-0.38,0.38-0.38,1,0,1.38l8.7,8.7C9.36,10.74,9.99,10.74,10.36,10.37z" />
                                    </g>
                                </g>
                            </svg>


                        </div>

                        <!-- Menu desplegable -->

                        <ul class="mostrarMenu" id="desplegable">

                            <li> <a id="item" href="#">Vibrators</a></li>
                            <li> <a id="item" href="#">Dildos</a></li>
                            <li> <a id="item" href="#">Anal</a></li>
                            <li> <a id="item" href="#">GF</a></li>
                            <li> <a id="item" href="#">Games</a></li>


                        </ul>

                        <!-- Fin del Menu desplegable -->

                    </li>
                </ul>
            </div>
            <div class="container right">
                <ul>
                    <li><a href="">
                            <div class="icon">
                                <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
                                <svg version="1.1" x="0px" y="0px" viewBox="0 0 30.03 27.49"
                                    style="enable-background:new 0 0 30.03 27.49;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <g>
                                                    <path class="st0" d="M23.78,20c-2.07,0-3.75,1.68-3.75,3.75s1.68,3.75,3.75,3.75s3.75-1.68,3.75-3.75S25.85,20,23.78,20z
                                                    M23.78,25.24c-0.83,0-1.5-0.67-1.5-1.5c0-0.83,0.67-1.5,1.5-1.5c0.83,0,1.5,0.67,1.5,1.5C25.28,24.57,24.61,25.24,23.78,25.24z
                                                    " />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st0"
                                                        d="M29.8,5.52c-0.21-0.27-0.54-0.43-0.88-0.43H6.94L5.92,0.86C5.8,0.36,5.35,0,4.83,0H1.12C0.5,0,0,0.5,0,1.12
                                                    s0.5,1.12,1.12,1.12h2.82L7.6,17.53c0.12,0.51,0.57,0.86,1.09,0.86h17.49c0.52,0,0.97-0.35,1.09-0.85L30,6.49
                                                    C30.08,6.15,30.01,5.8,29.8,5.52z M25.3,16.14H9.58l-2.1-8.8h20L25.3,16.14z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path class="st0"
                                                        d="M10.19,20c-2.07,0-3.75,1.68-3.75,3.75s1.68,3.75,3.75,3.75s3.75-1.68,3.75-3.75S12.25,20,10.19,20z
                                                    M10.19,25.24c-0.83,0-1.5-0.67-1.5-1.5c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5C11.68,24.57,11.01,25.24,10.19,25.24z" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </div>
                        </a></li>
                    <li><a id="menubottom" href="">
                            Login
                        </a></li>
                    <li><a class="outstanding" href="">
                            Sign Up
                        </a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="backgroundtop">
        <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="577.34px" height="224px" viewBox="0 0 577.34 224" style="enable-background:new 0 0 577.34 224;"
            xml:space="preserve">
            <style type="text/css">
                .st0 {}
            </style>
            <defs>
            </defs>
            <g>
                <path class="st0" d="M0,0c3.86,52.39,14.69,97.49,35.09,130.45c96.84,156.49,326.94,90.92,438.29-9.84
		C511.23,86.36,542.2,45.99,577.34,9.67V0H0z" />
            </g>
        </svg>

    </div>
    <div class="letrasFondo">
        <div class="decoracion uno">
            <p class="unot">Desire</p>.
        </div>
        <div class="decoracion dos"></div>
        <div class="decoracion tres"></div>
        <div class="decoracion cuatro">
            <p class="cuatrot">Pleasure.</p>
        </div>
    </div>
    <div class="slider">
        <div class="great">

            <div class="container left">
                <h1>Cum’<br /><strong>IN</strong></h1>
            </div>
            <div class="container center">
                <div class="texto">
                    <p>Let your pleasures come out without limitations. Dare yourself to break yourself.</p>
                </div>
                <button>Go to Store</button>
            </div>
            <div class="container right"><img src="./imgs/banana.png" alt=""></div>
        </div>

    </div>

    <div class="transitor">
        <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
        <svg version="1.1" x="0px" y="0px" width="1918px" height="421.63px" viewBox="0 0 1918 421.63"
            style="enable-background:new 0 0 1918 421.63;" xml:space="preserve">
            <defs>
            </defs>
            <path class="st0" d="M1918,421.63V0c-64.21,15.8-124.2,46.28-165.29,83.47c-60.42,54.67-133.42,138.7-203.71,183.16
                c-290.47,183.74-619.89,80.31-907-54C365.17,83.12,155.16,64.38,0,92.96v328.67H1918z" />
        </svg>

    </div>
    <div class="chars">

    </div>
</body>

</html>