@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Lobster");
* {
  font-family: "Nunito Sans";
  margin: 0;
  padding: 0;
}

.icon {
  fill: #EFACA0;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.icon:hover {
  fill: #F49992;
  -webkit-transition: .5s ease fill;
  transition: .5s ease fill;
  cursor: pointer;
}

.icondesplegable {
  fill: #EFACA0;
}

.icondesplegable svg {
  width: 15px;
  height: 15px;
  margin-left: -15px;
  margin-top: 7px;
}

.icondesplegable:hover {
  fill: #F49992;
  -webkit-transition: .5s ease fill;
  transition: .5s ease fill;
  cursor: pointer;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}

header nav {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .container {
  width: 50%;
}

header nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .container ul li {
  margin: 0 10px;
  list-style: none;
}

header nav .container ul li a {
  text-decoration: none;
  color: #EFACA0;
  font-size: 15px;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

header nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav .left ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .right ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.outstanding {
  padding: 3px 8px;
  border: 2px #EFACA0 solid;
  border-radius: 10px;
  text-decoration: none;
  color: #EFACA0;
  font-size: 15px;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

#menubottom {
  text-decoration: none;
  color: #EFACA0;
  font-size: 15px;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

#menubottom:hover {
  color: #F49992;
  border-bottom: 1px solid #F49992;
}

#desplegable {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  border: 2px solid #EFACA0;
  border-radius: 10px;
  margin-left: -45pt;
  margin-top: 10pt;
  padding: 4pt;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#desplegable #item {
  text-align: center;
}

#desplegable #item:hover {
  color: #F49992;
  border-bottom: 1px solid #F49992;
}

#desplegable:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=header.css.map */