@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lobster');

$primary: #F49992;
$primaryLight: #EFACA0;
$primaryFont: 'Nunito Sans';
$logoFont: 'Lobster';

* {
    font-family: $primaryFont;
    margin: 0;
    padding: 0;
}
.icon {
    fill: $primaryLight;
    svg {
        width: 20px;
        height: 20px;
        
    }
    &:hover {
        fill: $primary;
        transition: .5s ease fill;
        cursor: pointer;
        
        
        
    }
}


.icondesplegable{
    fill: #EFACA0;
    
    svg {
        width: 15px;
        height: 15px;
        margin-left: -15px;
        margin-top: 7px;
        
    }
    
    &:hover {
        fill: $primary;
        transition: .5s ease fill;
        cursor: pointer;
        
    }
    
}

#desple{
    fill: #EFACA0;
    
    
    svg {
        width: 15px;
        height: 15px;
        margin-left: -15px;
        margin-top: 7px;
        
    }
    
    &:hover {
        fill: $primary;
        transition: .5s ease fill;
        cursor: pointer;
    }
    
}



header {
    width: 100vw;
    height: 10vh;
    
    position: fixed;
    top: 0;
    z-index: 100;
    
    nav {
        
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        .container {
            width: 50%;
            ul {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 10px;
                    list-style: none;
                    
                    a{
                        text-decoration: none;
                        color: $primaryLight;
                        font-size: 15px;
                        transition: .5s ease color;
                        
                    }
                    
                }
            }
        }
        .left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            ul {
                justify-content: flex-start;
                
                
            }
        }
        .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            ul {
                justify-content: flex-end;
            }
        }
    }
}

.outstanding {
    padding:  3px 8px;
    border: 2px $primaryLight solid;
    border-radius: 10px;
    text-decoration: none;
    color: $primaryLight;
    font-size: 15px;
    transition: .5s ease color;
    
}


#menubottom{
    text-decoration: none;
    color: $primaryLight;
    font-size: 15px;
    transition: .5s ease color;
    
}


#menubottom:hover{
    color: $primary;
    border-bottom: 1px solid $primary;
    
    
}


.carrito_link{
    
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3px;
    
    
    .numeroProductos{
        margin-top: -4px;
        margin-left: 10px;
        border-radius: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        background: #f5c0b3; /* Old browsers */
        background: -moz-linear-gradient(left, #f5c0b3 0%, #f4ad9f 50%, #f9a08f 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c0b3', endColorstr='#f9a08f',GradientType=1 ); /* IE6-9 */
        
        .cantidad{
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-family: $primaryFont;
            font-weight: 600;
            color: white;
            
            margin-left: -1px;
            
        }
    }
    
    
}

.carrito_link:hover{

    
    svg{
        
        animation: shake 1s;
        

    }

}

#desplegable{
    display: none;
    flex-direction: column;
    background: white;
    border: 2px solid #EFACA0;
    border-radius: 10px;
    margin-left: -45pt;
    margin-top: 10pt;
    padding: 4pt;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    
    
    #item{
        
        text-align: center;
        
        
        &:hover{
            
            color: $primary;
            border-bottom: 1px solid $primary;
            
        }
        
    }
    
    
    &:hover{
        display: flex;
    }
}


