@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lobster');

$primary: #F49992;
$primaryLight: #EFACA0;
$primaryFont: 'Nunito Sans';
$logoFont: 'Lobster';

* {
    font-family: $primaryFont;
    margin: 0;
    padding: 0;
}
.icon {
    fill: $primaryLight;
    svg {
        width: 20px;
        height: 20px;
        
    }
    &:hover {
        fill: $primary;
        transition: .5s ease fill;
        cursor: pointer;
        
        
        
    }
}


.icondesplegable{
    fill: #EFACA0;
    
    svg {
        width: 15px;
        height: 15px;
        margin-left: -15px;
        margin-top: 7px;
        
    }
    
    &:hover {
        fill: $primary;
        transition: .5s ease fill;
        cursor: pointer;
        
    }
    
}

#desple{
    fill: #EFACA0;
    
    
    svg {
        width: 15px;
        height: 15px;
        margin-left: -15px;
        margin-top: 7px;
        
    }
    
    &:hover {
        fill: $primary;
        transition: .5s ease fill;
        cursor: pointer;
    }

}



header {
    width: 100vw;
    height: 10vh;
    
    position: fixed;
    top: 0;
    z-index: 100;
    
    nav {
        
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        .container {
            width: 50%;
            ul {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 10px;
                    list-style: none;
                    
                    a{
                        text-decoration: none;
                        color: $primaryLight;
                        font-size: 15px;
                        transition: .5s ease color;
                        
                    }
                    
                }
            }
        }
        .left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            ul {
                justify-content: flex-start;
                
                
            }
        }
        .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            ul {
                justify-content: flex-end;
            }
        }
    }
}

.outstanding {
    padding:  3px 8px;
    border: 2px $primaryLight solid;
    border-radius: 10px;
    text-decoration: none;
    color: $primaryLight;
    font-size: 15px;
    transition: .5s ease color;
    
}


#menubottom{
    text-decoration: none;
    color: $primaryLight;
    font-size: 15px;
    transition: .5s ease color;
    
}


#menubottom:hover{
    color: $primary;
    border-bottom: 1px solid $primary;
    
    
}

#desplegable{
    display: none;
    flex-direction: column;
    background: white;
    border: 2px solid #EFACA0;
    border-radius: 10px;
    margin-left: -45pt;
    margin-top: 10pt;
    padding: 4pt;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    
    
    #item{
        
        text-align: center;
        
        
        &:hover{

            color: $primary;
            border-bottom: 1px solid $primary;
            
        }
        
    }
    
    
    &:hover{
        display: flex;
    }
}


