@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900');


$primary: #F49992;
$primaryLight: #EFACA0;
$primaryDark: #CE817C;

$primaryHcolorLight: #F7B0A9;
$primaryHcolor: #ED998E;
$primaryFont: 'Nunito Sans';
$openSans: 'Open Sans';
$logoFont: 'Lobster';

a{
    text-decoration: none;
    text-emphasis: none;
    color: none;
    
}

*{
    margin: 0;
    padding: 0;
    color: #D89C93;
    
}
body{
    overflow: hidden;
}

li{
    list-style: none;
}

//////////// INPUT RANGE STYLES
input[type=range] {
    height: 0px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F5C5C1;
    border-radius: 0px;
    border: 0px solid #F5C5C1;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #F5C5C1;
    border: 0px solid #F5C5C1;
    height: 12px;
    width: 12px;
    border-radius: 23px;
    background: #ED978C;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F5C5C1;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F5C5C1;
    border-radius: 0px;
    border: 0px solid #F5C5C1;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #F5C5C1;
    border: 0px solid #F5C5C1;
    height: 10px;
    width: 10px;
    border-radius: 23px;
    background: #ED978C;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #F5C5C1;
    
}
input[type=range]::-ms-fill-upper {
    background: #F5C5C1;
    
}
input[type=range]::-ms-thumb {
    
    box-shadow: 0px 0px 1px #F5C5C1;
    border: 0px solid #F5C5C1;
    height: 10px;
    width: 10px;
    border-radius: 23px;
    background: #ED978C;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #F5C5C1;
}
input[type=range]:focus::-ms-fill-upper {
    background: #F5C5C1;
}
////////// END INPUT RANGE STYLES

.container {
    width: 33%;
    
}
.center  {
    
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;;
    align-items: center;
    h1 {
        font-family: $logoFont;
        color: $primaryHcolor;
        text-align:  end;
        font-size: 20px;
        margin-right: 40px;
        
        strong{
            font-family: $logoFont;  
            color: $primaryHcolorLight;
            
            
        }
        
    }
    
    .logoAbajo{
        margin-top: -7px;
        margin-left: 6px;
        
        
        
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(273, 153, 142,0.3);
    opacity: 1; /* Firefox */
    outline: none;
    outline-width: 0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(273, 153, 142,0.3);
    outline: none;
    outline-width: 0;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(273, 153, 142,0.3);
    outline: none;
    outline-width: 0;
}



//



header{
    position: inherit;
    box-sizing: border-box;
}

.sostenedor{
    width: 100vw;   
    height: 90vh;   
    
    flex-flow: column nowrap;
    box-sizing: border-box;
    
    position: absolute;
    
    .producto_detalle{
        
        margin-left: 5%;
        margin-top: 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: fixed;
        width: 90vw;
        height: 80vh;
        z-index: 100;
        border-radius: 20px;
        border: 2px solid green;
        
    }
    
    .barraBusqueda{
        height: 30%;
        
        margin-top: -35px;
        box-sizing: border-box;
        position: relative;
        
        
        
        .espacio{
            height: 30%;
        }
        
        .busqueda{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            
            
            
            
            
            input{
                width: 80%;
                height: 30%;
                padding: 12px 20px 0px;
                margin: 8px 0;
                border: none;
                border-bottom: 2px solid #F7B0A9;
                box-sizing: border-box;
                text-align: center;
                font-family: $primaryFont;
                font-size: 25pt;
                color: #ED998E;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
                background-image: url('/imgs/search.png');
                background-repeat: no-repeat;
                background-size: 20pt;
                background-position: 275px 20px; 
                
                
                
            }
            
            input[type=text]:focus{
                
                outline-width: 0;
                outline: none;
                background-image: none;
                
                
            }
            
            
        }
        
        
        
        
        
        
        .filtros{
            
            margin-top: 10px;
            display: flex;
            width: 80%;
            margin-left: 10%;
            
            flex-flow: row nowrap;
            //border: 2px solid #CE817C;
            
            align-content: center;
            justify-content: space-around;
            
            
            .filtros_accion{
                cursor: pointer;
                transition: border-bottom 0.2s;
            }
            
            .filtros_accion:hover{
                border-bottom: 1px solid #CE817C;
                color:  #CE817C;
                
            }
            
            .categoria{
                display: flex;
                flex-flow: row nowrap;
                
                .selector{
                    background: none;
                    border: none;
                    outline: none;
                    font-family: $primaryFont;
                    font-weight: 600;
                    
                    
                    
                    .flecha{
                        
                        margin-left: 3px;
                    }
                    
                    
                    .boton{
                        color: rgba(237, 153, 142, 0.7);
                        margin-left: 10px;
                        
                        
                    }
                    
                    .items{
                        // listo tipos de categorias
                        display: none;
                        transition: display 1s;
                        flex-flow: row nowrap;
                        position: absolute;
                        margin-top: 30px;
                        margin-left: -60px;
                        color: #D89C93;
                        font-weight: 300;
                        background: rgba(247, 235, 235, 0.5);
                        border-radius: 10px;
                        cursor: pointer;
                        
                        
                        .categorias{
                            
                            padding: 2px 5px;
                            cursor: pointer;
                            
                            
                        }
                        
                        
                        
                    }
                    
                    
                    
                }
                
                
                
                
                
                
            }
            
            
            .ordenar{
                
                display: flex;
                flex-flow: row nowrap;
                font-display: $primaryFont;
                color: rgba(237, 153, 142, 0.7);
                font-weight: 600;
                
                
                .selector{
                    background: none;
                    border: none;
                    outline: none;
                    font-family: $primaryFont;
                    font-weight: 600;
                    
                    
                    
                    
                    
                    .items{
                        // listo ordenamineto de categorias
                        display: none;
                        transition: display 1s;
                        flex-flow: row nowrap;
                        position: absolute;
                        margin-top: 30px;
                        margin-left: -200px;
                        color: #D89C93;
                        font-weight: 300;
                        background: rgba(247, 235, 235, 0.5);
                        border-radius: 10px;
                        cursor: pointer;
                        
                        
                        .categorias{
                            
                            padding: 2px 5px;
                            cursor: pointer;
                            
                            
                        }
                        
                        
                        
                    }
                    
                    
                    
                }
                
                
            }
            
            .marca{
                
                display: flex;
                flex-flow: row nowrap;
                font-display: $primaryFont;
                color: rgba(237, 153, 142, 0.7);
                font-weight: 600;
                
                
                .selector{
                    background: none;
                    border: none;
                    outline: none;
                    font-family: $primaryFont;
                    font-weight: 600;
                    
                    
                    .items{
                        // listo clasificación por marcas
                        display: none;
                        transition: display 1s;
                        flex-flow: row nowrap;
                        position: absolute;
                        margin-top: 30px;
                        margin-left: -340px;
                        color: #D89C93;
                        font-weight: 300;
                        background: rgba(247, 235, 235, 0.5);
                        border-radius: 10px;
                        cursor: pointer;
                        
                        
                        .categorias{
                            
                            padding: 2px 5px;
                            cursor: pointer;
                            
                            
                        }
                        
                        
                        
                    }
                    
                    
                    
                }
                
                
                
                
            }
            
            
            .precio{
                
                display: flex;
                flex-flow: row nowrap;
                padding-right: 5px;
                
                
                
                .btn{
                    
                    
                    
                    font-size: 10pt;
                    color: rgba(237, 153, 142, 0.65);
                    font-weight: 600;
                    background: rgba(247, 235, 235, 0.5);
                    border-radius: 3px;
                    padding: 2px 3px;
                    margin-left: 10px;
                    
                    
                    
                }
                
                .rango{
                    margin-left: 5px;
                    margin-right: 5px;
                }
                
                
            }
        }
    }
    
    .productos{
        height: 65%;
        box-sizing: border-box;
        
        
        
        .store{
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-content: center;
            justify-items: center;
            margin-top: 10px;
            height: 100%;
            
            
            .catalogo{
                
                width: 95%;
                
                box-sizing: border-box;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;
                align-content: flex-start;
                overflow-y: scroll;
                
                .itemVenta{
                    position: relative;
                    border-radius: 10px;
                    text-align: center;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-around;
                    align-items: center;
                    -webkit-box-shadow: 5px 14px 31px -13px rgba(0,0,0,0.65);
                    -moz-box-shadow: 5px 14px 31px -13px rgba(0,0,0,0.65);
                    box-shadow: 5px 14px 31px -13px rgba(0,0,0,0.65);
                    margin-left: 2.5%;
                    margin-right: 2.5%;
                    margin-top:  3.5%;
                    margin-bottom: 2.5%;
                    width: 250px;
                    height: 350px;
                    
                    transition: height 0.5s;
                    box-sizing: border-box;
                    overflow: hidden;
                    
                    p{
                        font-family: $openSans;
                        color:  rgba(237, 153, 142, 0.6) ;
                    }
                    
                    
                    .full_cuadro{
                        height: 90%;
                        
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        align-items: center;
                        
                        .imagen_producto{
                            
                            margin-top: 40px;
                            
                        }
                        
                        .nombre_precio{
                            
                        }
                        
                    }
                    
                    .botones{
                        display: flex;
                        flex-flow: column nowrap;
                        align-content: space-around;
                        justify-content: center;
                        align-self: flex-end;
                        margin-right: 15px;
                        position: absolute;
                        top: 10px;
                        right: -3px;
                        
                        .vector{
                            
                            margin: 4px;
                            margin-top: 7px;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-content: center;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                            
                        }
                        
                        .corazon{
                            margin-top: 10px;
                        }
                        
                    }
                    
                    h1{
                        
                        font-family: $openSans;
                        font-weight: 600;
                        font-size: 10pt;
                        color: #ED978C;
                    }
                    
                    
                    
                }
                
                
                .itemVenta:hover{
                    
                    
                    height: 400px;
                }
                
                
            }
            
        }
        
    }
    
    .carga{
        
        height: 5%;
        margin-top: 45px;
        box-sizing: border-box;
        background: rgba(249,112,88,1);
        background: -moz-linear-gradient(left, rgba(249,112,88,1) 0%, rgba(244,173,159,0.8) 66%, rgba(245,192,178,0.7) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,112,88,1)), color-stop(66%, rgba(244,173,159,0.8)), color-stop(100%, rgba(245,192,178,0.7)));
        background: -webkit-linear-gradient(left, rgba(249,112,88,1) 0%, rgba(244,173,159,0.8) 66%, rgba(245,192,178,0.7) 100%);
        background: -o-linear-gradient(left, rgba(249,112,88,1) 0%, rgba(244,173,159,0.8) 66%, rgba(245,192,178,0.7) 100%);
        background: -ms-linear-gradient(left, rgba(249,112,88,1) 0%, rgba(244,173,159,0.8) 66%, rgba(245,192,178,0.7) 100%);
        background: linear-gradient(to right, rgba(249,112,88,1) 0%, rgba(244,173,159,0.8) 66%, rgba(245,192,178,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97058', endColorstr='#f5c0b2', GradientType=1 );
        
    }
    
    
}

.tfiltros{
    font-family: $primaryFont;
    font-weight: 600;
    color: #ED978C;
    font-size: 12pt;
    
    
}





.indicadores{
    color: rgba(237, 153, 142, 0.5);
}





