@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900");
* {
  margin: 0;
  padding: 0;
}

input[type=range] {
  height: 0px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 0px #000000;
          box-shadow: 0px 0px 0px #000000;
  background: #F5C5C1;
  border-radius: 0px;
  border: 0px solid #F5C5C1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 1px #F5C5C1;
          box-shadow: 0px 0px 1px #F5C5C1;
  border: 0px solid #F5C5C1;
  height: 12px;
  width: 12px;
  border-radius: 23px;
  background: #ED978C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F5C5C1;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F5C5C1;
  border-radius: 0px;
  border: 0px solid #F5C5C1;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #F5C5C1;
  border: 0px solid #F5C5C1;
  height: 10px;
  width: 10px;
  border-radius: 23px;
  background: #ED978C;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #F5C5C1;
}

input[type=range]::-ms-fill-upper {
  background: #F5C5C1;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #F5C5C1;
  border: 0px solid #F5C5C1;
  height: 10px;
  width: 10px;
  border-radius: 23px;
  background: #ED978C;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #F5C5C1;
}

input[type=range]:focus::-ms-fill-upper {
  background: #F5C5C1;
}

.container {
  width: 33%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center h1 {
  font-family: "Lobster";
  color: #ED998E;
  text-align: end;
  font-size: 20px;
  margin-right: 40px;
}

.center h1 strong {
  font-family: "Lobster";
  color: #F7B0A9;
}

.center .logoAbajo {
  margin-top: -7px;
  margin-left: 6px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 153, 142, 0.3);
  opacity: 1;
  /* Firefox */
  outline: none;
  outline-width: 0;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 153, 142, 0.3);
  opacity: 1;
  /* Firefox */
  outline: none;
  outline-width: 0;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 153, 142, 0.3);
  opacity: 1;
  /* Firefox */
  outline: none;
  outline-width: 0;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 153, 142, 0.3);
  opacity: 1;
  /* Firefox */
  outline: none;
  outline-width: 0;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 153, 142, 0.3);
  outline: none;
  outline-width: 0;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 153, 142, 0.3);
  outline: none;
  outline-width: 0;
}

header {
  position: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sostenedor {
  width: 100vw;
  height: 90vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
}

.sostenedor .barraBusqueda {
  height: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.sostenedor .barraBusqueda .espacio {
  height: 30%;
}

.sostenedor .barraBusqueda .busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sostenedor .barraBusqueda .busqueda input {
  width: 80%;
  height: 30%;
  padding: 12px 20px 0px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #F7B0A9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 25pt;
  color: #ED998E;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-image: url("/imgs/search.png");
  background-repeat: no-repeat;
  background-size: 20pt;
  background-position: 275px 20px;
}

.sostenedor .barraBusqueda .busqueda input[type=text]:focus {
  outline-width: 0;
  outline: none;
  background-image: none;
}

.sostenedor .barraBusqueda .filtros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sostenedor .barraBusqueda .filtros .categoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.sostenedor .barraBusqueda .filtros .categoria .selector {
  background: none;
  border: none;
  outline: none;
  font-family: "Nunito Sans";
  font-weight: 600;
}

.sostenedor .barraBusqueda .filtros .categoria .selector .flecha {
  margin-left: 3px;
}

.sostenedor .barraBusqueda .filtros .categoria .selector .boton {
  color: rgba(237, 153, 142, 0.7);
  margin-left: 10px;
}

.sostenedor .barraBusqueda .filtros .categoria .selector .items {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  margin-top: 30px;
  margin-left: -60px;
  color: #D89C93;
  font-weight: 300;
  background: rgba(247, 235, 235, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.sostenedor .barraBusqueda .filtros .categoria .selector .items .categorias {
  padding: 2px 5px;
  cursor: pointer;
}

.sostenedor .barraBusqueda .filtros .ordenar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-display: "Nunito Sans";
  color: rgba(237, 153, 142, 0.7);
  font-weight: 600;
}

.sostenedor .barraBusqueda .filtros .ordenar .selector {
  background: none;
  border: none;
  outline: none;
  font-family: "Nunito Sans";
  font-weight: 600;
}

.sostenedor .barraBusqueda .filtros .ordenar .selector .items {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  margin-top: 30px;
  margin-left: -200px;
  color: #D89C93;
  font-weight: 300;
  background: rgba(247, 235, 235, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.sostenedor .barraBusqueda .filtros .ordenar .selector .items .categorias {
  padding: 2px 5px;
  cursor: pointer;
}

.sostenedor .barraBusqueda .filtros .marca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-display: "Nunito Sans";
  color: rgba(237, 153, 142, 0.7);
  font-weight: 600;
}

.sostenedor .barraBusqueda .filtros .marca .selector {
  background: none;
  border: none;
  outline: none;
  font-family: "Nunito Sans";
  font-weight: 600;
}

.sostenedor .barraBusqueda .filtros .marca .selector .items {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  margin-top: 30px;
  margin-left: -340px;
  color: #D89C93;
  font-weight: 300;
  background: rgba(247, 235, 235, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.sostenedor .barraBusqueda .filtros .marca .selector .items .categorias {
  padding: 2px 5px;
  cursor: pointer;
}

.sostenedor .barraBusqueda .filtros .precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-right: 5px;
}

.sostenedor .barraBusqueda .filtros .precio .btn {
  font-size: 10pt;
  color: rgba(237, 153, 142, 0.65);
  font-weight: 600;
  background: rgba(247, 235, 235, 0.5);
  border-radius: 3px;
  padding: 2px 3px;
  margin-left: 10px;
}

.sostenedor .barraBusqueda .filtros .precio .rango {
  margin-left: 5px;
  margin-right: 5px;
}

.sostenedor .productos {
  height: 65%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sostenedor .carga {
  height: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tfiltros {
  font-family: "Nunito Sans";
  font-weight: 600;
  color: #ED978C;
  font-size: 12pt;
}

.indicadores {
  color: rgba(237, 153, 142, 0.5);
}
/*# sourceMappingURL=mainStore.css.map */