@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900');

$primary: #F49992;
$primaryLight: #EFACA0;
$primaryDark: #CE817C;

$primaryHcolorLight: #F7B0A9;
$primaryHcolor: #ED998E;
$primaryFont: 'Nunito Sans';
$logoFont: 'Lobster';

body {
    overflow-x: hidden;
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.flex-nav-prev{
    display: none;
    
}
.flex-nav-next{
    display: none;
    
}

.flex-control-nav.flex-control-paging{
    display: none;    
}

.flex-direction-nav{
    display: none;
}


.slider {
    margin-top: 100px;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .great {
        width: 80vw;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .container {
            width: 33%;
        }
        .left  {
            h1 {
                font-family: $logoFont;
                color: $primaryHcolor;
                text-align: right;
                font-size: 9em;
                margin-right: 40px;
                margin-top: 150px;
                strong{
                    font-family: $logoFont;  
                    color: $primaryHcolorLight;
                    margin-right: .35em;
                    line-height: 55px;
                }
                
            }
        }
        .center {
            display: flex;
            flex-flow: column wrap;
            
            
            
            .texto{
                
                width: 100%;
                height: 300px;
                
                
                
                border-right: 8px solid rgba(247,176,169,0.45);
                border-bottom: 8px solid rgba(247,176,169,0.45);
                
                ul{
                    
                    width: 100%;
                    height: 100%;
                    
                    li{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        align-content: center;
                        
                        
                        
                        
                        p {
                            padding-left: 10px;
                            margin-top: 80px;
                            width: 90%;
                            font-family: $primaryFont;
                            color: $primaryDark;                            
                            font-weight: 100;
                            
                            
                            
                        }
                    }
                }
                
                
                
                
            }
            button {
                
                border: none;
                border-radius: 10px;
                margin-top: 30px;
                width: 150px;
                height: 40px;
                cursor: pointer;
                color: white;
                font-weight: bold;
                font-size: 20px;
                background: #f5c0b3; /* Old browsers */
                background: -moz-linear-gradient(left, #f5c0b3 0%, #f4ad9f 50%, #f9a08f 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c0b3', endColorstr='#f9a08f',GradientType=1 ); /* IE6-9 */
            }
        }
        .right {
            img {
                width: 100%;
                
                transform: rotate(-55deg) scale(1.7);
                -webkit-filter: drop-shadow(0px 10px 3px  rgba(0,0,0,0.2));
                filter: drop-shadow(0px 10px 3px  rgba(0,0,0,0.2));
                
            }
        }
    }
}

.pasarPagina{
    
    display: flex;
    flex-flow: column nowrap;
    
    justify-content: center;
    justify-items: center;
    
    
    .transitor {
        margin-top: -40px;
        width: 100vw;
        
        svg {
            width: 100%;
            fill: #F7D6D0;
        }
        
    }
    
    .chars {
        
        width: 100vw;
        height: 90vh;
        position: relative;
        filter: opacity(0.8);
        background: #F7D6D0;
        margin-top: -36px;
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        
        .cuestionario{
            
            .titulo{
                display: flex;
                flex-flow: row nowrap;
                align-items: baseline;
                
                .cum{
                    font-family: $logoFont;
                    font-size: 100px;
                    color: #ED998E;
                    
                }
                .hot{
                    color: white;
                    font-weight: bold;
                    font-size: 50px;
                    
                }
                
            }
            
            width: 80%;
            height: 70%;
            
            
            .hacer{
                
                border-radius: 20px;
                background: white;
                width: 100%;
                height: 70%;
                
                .cajaPre{
                    
                    
                    display: flex;
                    height: 350px;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    justify-items: center;
                    h1{
                        color:  rgb(219, 111, 97);
                        font-family: $primaryFont;
                    }
                    
                    p{
                        color: rgb(219, 111, 97);
                    }
                    
                    .res{
                        width: 100%;
                        margin-top: 30px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-around;
                        
                        button{
                            
                            border: none;
                            border-radius: 10px;
                            
                            width: auto;
                            padding: 15px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            justify-items: center;
                            align-content: center;
                            padding-top: 6px;
                            cursor: pointer;
                            color: white;
                            font-weight: bold;
                            font-size: 20px;
                            background: #f5c0b3; /* Old browsers */
                            background: -moz-linear-gradient(left, #f5c0b3 0%, #f4ad9f 50%, #f9a08f 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(left, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to right, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c0b3', endColorstr='#f9a08f',GradientType=1 ); /* IE6-9 */
                            
                            
                        }
                    }
                    
                }
                
                .unoP{
                    
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    justify-items: center;
                    
                    
                    h1{
                        color:  rgb(219, 111, 97);
                        font-family: $primaryFont;
                    }
                    
                    p{
                        color: rgb(219, 111, 97);
                    }
                    
                    button{
                        border: none;
                        border-radius: 10px;
                        margin-top: 30px;
                        width: 150px;
                        height: 40px;
                        cursor: pointer;
                        color: white;
                        font-weight: bold;
                        font-size: 20px;
                        background: #f5c0b3; /* Old browsers */
                        background: -moz-linear-gradient(left, #f5c0b3 0%, #f4ad9f 50%, #f9a08f 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, #f5c0b3 0%,#f4ad9f 50%,#f9a08f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c0b3', endColorstr='#f9a08f',GradientType=1 ); /* IE6-9 */
                        
                    }
                    
                    
            
                }
                
                .dosP{

                    display: none;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    justify-items: center;

                    .inpu{
                        width: 550px;
                        height: 30px;
                    }

                    .res{
                        margin-top: 30px;
                    }
                }

                .tresP{
                    display: none;

                }
                
                .cuatroP{
                    
                    display: none;
                }
                
                
                .cincoP{
                    
                    display: none;
                }

                .seisP{

                    display: none;
                    
                }

                .sieteP{

                    display: none;
                    
                }

                .ochoP{

                    display: none;
                    
                }

                .nueveP{

                    display: none;
                    
                }

                .diezP{

                    display: none;
                    
                }

                .onceP{

                    display: none;
                    
                }

                .doceP{
                    display: none;
                    
                }
                
                
                
                
                
            }
            
            
        }
        
        
    }
}

.final{
    position: relative;
}

.backgroundtop{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    margin-top: -80px;
    
    svg {
        fill: #F7D6D0;
    }
    
}

.letrasFondo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-align: justify;
    color: #EEE;
    display: flex;
    flex-flow: row wrap;
    .decoracion{
        box-sizing: border-box;
        width: 50%;
        height: 50%;
        
        p{
            font-family: $logoFont;
            font-size: 150px;
            color: #FBEAE9;
        }
        
        .unot{
            margin-top: 10%;
            margin-left: 4%;
            
        }
        
        .cuatrot{
            margin-top: 20%;
            margin-left: 5%;
            
        }
    }
    
    
    
    
}

