@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900");
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-nav-prev {
  display: none;
}

.flex-nav-next {
  display: none;
}

.flex-control-nav.flex-control-paging {
  display: none;
}

.flex-direction-nav {
  display: none;
}

.slider {
  margin-top: 100px;
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .great {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .great .container {
  width: 33%;
}

.slider .great .left h1 {
  font-family: "Lobster";
  color: #ED998E;
  text-align: right;
  font-size: 9em;
  margin-right: 40px;
  margin-top: 150px;
}

.slider .great .left h1 strong {
  font-family: "Lobster";
  color: #F7B0A9;
  margin-right: .35em;
  line-height: 55px;
}

.slider .great .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.slider .great .center .texto {
  width: 100%;
  height: 300px;
  border-right: 8px solid rgba(247, 176, 169, 0.45);
  border-bottom: 8px solid rgba(247, 176, 169, 0.45);
}

.slider .great .center .texto ul {
  width: 100%;
  height: 100%;
}

.slider .great .center .texto ul li {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.slider .great .center .texto ul li p {
  padding-left: 10px;
  margin-top: 80px;
  width: 90%;
  font-family: "Nunito Sans";
  color: #CE817C;
  font-weight: 100;
}

.slider .great .center button {
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: #f5c0b3;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f5c0b3), color-stop(50%, #f4ad9f), to(#f9a08f));
  background: linear-gradient(to right, #f5c0b3 0%, #f4ad9f 50%, #f9a08f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c0b3', endColorstr='#f9a08f',GradientType=1 );
  /* IE6-9 */
}

.slider .great .right img {
  width: 100%;
  -webkit-transform: rotate(-55deg) scale(1.7);
          transform: rotate(-55deg) scale(1.7);
  -webkit-filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.2));
}

.pasarPagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.pasarPagina .transitor {
  margin-top: -40px;
  width: 100vw;
}

.pasarPagina .transitor svg {
  width: 100%;
  fill: #F7D6D0;
}

.pasarPagina .chars {
  width: 100vw;
  height: 90vh;
  position: relative;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  background: #F7D6D0;
  margin-top: -36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pasarPagina .chars .cuestionario {
  width: 80%;
  height: 70%;
}

.pasarPagina .chars .cuestionario .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pasarPagina .chars .cuestionario .titulo .cum {
  font-family: "Lobster";
  font-size: 100px;
  color: #ED998E;
}

.pasarPagina .chars .cuestionario .titulo .hot {
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.pasarPagina .chars .cuestionario .hacer {
  border-radius: 20px;
  background: white;
  width: 100%;
  height: 70%;
}

.pasarPagina .chars .cuestionario .hacer .cajaPre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.pasarPagina .chars .cuestionario .hacer .cajaPre h1 {
  color: #db6f61;
  font-family: "Nunito Sans";
}

.pasarPagina .chars .cuestionario .hacer .cajaPre p {
  color: #db6f61;
}

.pasarPagina .chars .cuestionario .hacer .cajaPre .res {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pasarPagina .chars .cuestionario .hacer .cajaPre .res button {
  border: none;
  border-radius: 10px;
  width: auto;
  padding: 15px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 6px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: #f5c0b3;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f5c0b3), color-stop(50%, #f4ad9f), to(#f9a08f));
  background: linear-gradient(to right, #f5c0b3 0%, #f4ad9f 50%, #f9a08f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c0b3', endColorstr='#f9a08f',GradientType=1 );
  /* IE6-9 */
}

.pasarPagina .chars .cuestionario .hacer .unoP {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.pasarPagina .chars .cuestionario .hacer .unoP h1 {
  color: #db6f61;
  font-family: "Nunito Sans";
}

.pasarPagina .chars .cuestionario .hacer .unoP p {
  color: #db6f61;
}

.pasarPagina .chars .cuestionario .hacer .unoP button {
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: #f5c0b3;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f5c0b3), color-stop(50%, #f4ad9f), to(#f9a08f));
  background: linear-gradient(to right, #f5c0b3 0%, #f4ad9f 50%, #f9a08f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c0b3', endColorstr='#f9a08f',GradientType=1 );
  /* IE6-9 */
}

.pasarPagina .chars .cuestionario .hacer .dosP {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.pasarPagina .chars .cuestionario .hacer .dosP .inpu {
  width: 550px;
  height: 30px;
}

.pasarPagina .chars .cuestionario .hacer .dosP .res {
  margin-top: 30px;
}

.pasarPagina .chars .cuestionario .hacer .tresP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .cuatroP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .cincoP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .seisP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .sieteP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .ochoP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .nueveP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .diezP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .onceP {
  display: none;
}

.pasarPagina .chars .cuestionario .hacer .doceP {
  display: none;
}

.final {
  position: relative;
}

.backgroundtop {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  margin-top: -80px;
}

.backgroundtop svg {
  fill: #F7D6D0;
}

.letrasFondo {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: justify;
  color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.letrasFondo .decoracion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  height: 50%;
}

.letrasFondo .decoracion p {
  font-family: "Lobster";
  font-size: 150px;
  color: #FBEAE9;
}

.letrasFondo .decoracion .unot {
  margin-top: 10%;
  margin-left: 4%;
}

.letrasFondo .decoracion .cuatrot {
  margin-top: 20%;
  margin-left: 5%;
}
/*# sourceMappingURL=main.css.map */